<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zszxz.config.mapper.StudentMapper">

    <!-- 查询学生-->
    <select id="getStudent" resultType="stu">
        select * from student
    </select>

    <insert id="addStudent" parameterType="stu">
        insert into student(`name`,`number`)
        values (#{name,jdbcType=VARCHAR,javaType=String},#{number})
    </insert>

</mapper>